anndata
array_api_compat
asttokens
cached-property
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
h5py
importlib_metadata
iniconfig
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib==3.10.1
matplotlib-inline
munkres==1.1.4
natsort
nest_asyncio
numpy==2.2.3
packaging
pandas
parso
patsy
pexpect
pickleshare
pillow
platformdirs
pluggy
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
PySide6==6.8.2
pytest
python-dateutil
pytz
pyzmq
scipy==1.15.2
seaborn
shiboken6==6.8.2
six
stack_data
statsmodels
tomli
tornado
traitlets
typing_extensions
tzdata
wcwidth
zipp
.